<div>
    <h1 class="text-center mt-4 mb-5">Productos estaticos</h1>
    <ul class="container-fluid d-flex align-items-center justify-content-center mt-4">
        {{#each products}}
        <li class="row mx-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    <p>Code: {{code}}</p>
                </div>
        </li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>