<h1 class="text-center mt-4 mb-5">Productos Estaticos</h1>
<section class="container-fluid d-flex align-items-center  mt-4">
    <div class="row mx-4 justify-content-center ">
        {{#each products}}
        <div class="card col-4 mx-4 mb-4" style="width: 18rem;">
            <div class="card-body">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>Code: {{code}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>